body {
  font-family: 'Montserrat-Regular';
}

.hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
}

.hamburger span {
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  margin-bottom: 3px;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.title {
  font-size: calc(27px + 16 * (100vw / 1140));
  margin: auto;
  text-align: center;
}

.title span {
  color: #D12C2C;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  margin-top: 25px;
}

.btn {
  width: 205px;
  height: 52px;
  background: #D12C2C;
  border-radius: 50px;
  border: none;
  padding: 17px 50px;
  font-weight: bold;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 30px #D12C2C;
          box-shadow: 0px 0px 30px #D12C2C;
}

button {
  outline: none;
}

@font-face {
  font-family: 'Labor Union';
  src: url("LaborUnion-Regular.eot");
  src: local("Labor Union Regular"), local("LaborUnion-Regular"), url("../fonts/LaborUnion-Regular.eot") format("embedded-opentype"), url("../fonts/LaborUnion-Regular.woff2") format("woff2"), url("../fonts/LaborUnion-Regular.woff") format("woff"), url("../fonts/LaborUnion-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("-Regular.eot");
  src: local("-Regular"), local("-Regular"), url("../fonts/Montserrat-Regular.eot") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("Montserrat-Bold.eot");
  src: local("Montserrat-Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("Montserrat-Medium.eot");
  src: local("Montserrat-Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  background: url("../img/1.jpg") center center/cover no-repeat;
  min-height: 800px;
  padding-top: 30px;
  position: relative;
}

.header-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-link {
  font-size: 14px;
  padding: 0 30px 6px 0px;
  display: inline;
  overflow: hidden;
}

.header-link a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding-bottom: 6px;
}

.header-link a::after {
  content: '';
  background: #D12C2C;
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 0;
  bottom: 0;
}

.header-link a:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 1;
  bottom: 0;
}

.header .last {
  padding-right: 0px;
}

.header-phone {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.header-phone::after {
  content: '';
  background: #D12C2C;
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 0;
  bottom: 0;
}

.header-phone:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 1;
  bottom: 0;
}

.header-title {
  font-size: calc(31px + 45 * (100vw / 1140));
  line-height: 130%;
  color: #FFFFFF;
  margin: 130px 0 20px 0;
}

.header-title span {
  font-family: Labor Union;
}

.header-title span span {
  color: #D12C2C;
}

.header-description {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 40px;
  padding-left: 5px;
  line-height: 141.3%;
  letter-spacing: 0.1em;
}

.header-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-item {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-item::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 126px;
  background: #C4C4C4;
  right: -100px;
}

.header-item:last-child::after {
  display: none;
}

.header-item p {
  font-weight: 600;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  width: 1140px;
  height: 146px;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.55);
          box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.55);
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -70px;
}

.service {
  margin-top: 110px;
  min-height: 564px;
  position: relative;
}

.service img {
  position: absolute;
  left: 0;
  bottom: 50px;
}

.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-item {
  width: 263px;
  height: 180px;
  margin: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.service-item p {
  font-weight: 600;
  font-size: 22px;
  line-height: 141.3%;
}

.service-item button {
  padding: 17px 72px;
}

.service-item:nth-child(8) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.service-item:nth-child(8) p {
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  top: 10%;
}

.autopart {
  padding-top: 50px;
  width: 100%;
  min-height: 488px;
  background: #929292;
}

.autopart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
}

.autopart-left {
  width: 205px;
  margin-left: 100px;
}

.autopart-btn {
  padding: 17px 64px;
}

.autopart-text {
  font-family: 'Montserrat-Regular';
}

.evacuator {
  padding-top: 50px;
}

.evacuator-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.evacuator-right {
  max-width: 460px;
}

.evacuator-left {
  margin-right: 30px;
}

.evacuator-list {
  margin-top: 25px;
  font-weight: bold;
  padding-left: 0;
  max-width: 459px;
  min-height: 373px;
}

.evacuator-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 161.3%;
  margin: 15px;
}

.evacuator-btn {
  padding: 17px 64px;
}

li::marker {
  color: #D12C2C;
}

.reviews {
  width: 100%;
  min-height: 550px;
  background: #929292;
  padding: 50px 0px 20px 0px;
}

.reviews .owl-carousel {
  position: relative;
  margin-top: 40px;
}

.reviews .owl-carousel .owl-stage {
  height: 380px;
}

.reviews .owl-carousel .owl-item {
  height: 350px;
}

.reviews .owl-carousel .owl-item img {
  width: 150px;
  height: 150px;
}

.reviews .owl-carousel .owl-nav button.owl-next, .reviews .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
}

.reviews .owl-carousel .owl-nav .owl-prev {
  left: 140px;
}

.reviews .owl-carousel .owl-nav .owl-next {
  right: 140px;
}

.reviews .owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .owl-carousel button.owl-dot {
  margin: 7px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.reviews .owl-carousel button.active {
  width: 15px;
  height: 15px;
  background: #fff;
}

.reviews svg:hover circle {
  fill: #D12C2C;
}

.reviews svg:hover path {
  fill: #ffffff;
}

.slide {
  padding: 10px;
  margin: auto;
  max-width: 750px;
  min-height: 315px;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.55);
          box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.55);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 150px;
}

.slide-title {
  text-align: center;
  font-size: 22px;
}

.slide-text {
  max-width: 390px;
  text-align: center;
  line-height: 161.3%;
}

.rental {
  padding-top: 50px;
  min-height: 590px;
}

.rental-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 40px;
}

.rental-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 460px;
}

.rental-list {
  margin: 0;
}

.rental-link {
  line-height: 161.3%;
  margin: 15px;
}

.rental-btn {
  padding: 17px 64px;
}

.rental-slide {
  height: 100px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rental .owl-carousel {
  position: relative;
  margin-top: 55px;
}

.rental .owl-carousel .owl-item img {
  display: block;
  width: auto;
  height: auto;
  margin: auto;
}

.rental .owl-carousel .owl-nav button.owl-next, .rental .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 23%;
}

.rental .owl-carousel .owl-prev {
  left: -50px;
}

.rental .owl-carousel .owl-next {
  right: -50px;
}

.rental svg:hover circle {
  fill: #D12C2C;
}

.rental svg:hover path {
  fill: #ffffff;
}

.contact {
  min-height: 506px;
  padding-bottom: 50px;
}

.contact .container {
  position: relative;
}

.contact-title {
  margin-bottom: 40px;
}

.contact-block {
  width: 280px;
  font-family: 'Montserrat-Regular';
  top: 120px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  max-width: 400px;
  min-height: 250px;
  padding: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.55);
          box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.55);
  border-radius: 30px;
}

.contact-map {
  width: 100%;
}

.contact-description {
  font-family: 'Montserrat-Regular';
  max-width: 258px;
  margin: 0;
}

.footer {
  background: #000000;
  padding: 10px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 66px;
}

.footer .container a, .footer .container p {
  text-decoration: none;
  color: #ffffff;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .info {
    display: none;
  }
  .service {
    margin-top: 50px;
    min-height: 335px;
  }
  .service-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-item {
    height: 100px;
    margin: 0;
  }
  .service-item:last-child {
    height: 140px;
  }
  .service img {
    display: none;
  }
  .autopart {
    min-height: 408px;
  }
  .autopart-left {
    margin: auto;
  }
  .autopart-right img {
    width: 100%;
  }
  .rental-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews {
    min-height: 480px;
  }
}

@media (max-width: 992px) {
  .header-list {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    right: -999%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .header-link {
    padding: 10px 0px;
  }
  .header-list_active {
    right: 0;
    z-index: 9;
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
    margin: 10px 0px;
  }
  .header-phone {
    display: none;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 30px;
    z-index: 99;
    top: 38px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ef0a0a;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .evacuator-left img {
    display: none;
  }
  .evacuator-right {
    margin: auto;
  }
  .evacuator-btn {
    margin: auto;
  }
  .rental-right {
    display: none;
  }
  .rental-btn {
    margin: auto;
  }
  .contact {
    min-height: 390px;
  }
  .contact-map {
    display: none;
  }
  .contact-block {
    margin: auto;
    position: initial;
  }
  .slide {
    width: 90%;
  }
}

@media (max-width: 490px) {
  .header {
    height: 100vh;
  }
  .header-list {
    width: 100%;
  }
  .rental-btn {
    margin: 0px 30px;
  }
}
